.nav-link {
  color: #EEEEEE;
}

.nav-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}

.logo {
  height: 38px;
  width: 100px;
}

.card-row-layout {
  --bs-gutter-x: 0;
}

#survey-text {
line-height: 1.8;
font-size: 40px;
margin-left: 20px;
margin-bottom: 50px;
}

.survey-card {
width: 75%;
}

.survey-button {
background: #AAAAAA;
border: None;
margin-left: 20px;
font-size: 40px;
padding: 20px;
}

.survey-button:hover {
  background: #555555;
}

.survey {
background: #777777;
color: #EEEEEE;
border-radius: 0px;
border: None;
padding-top: 100px;
padding-bottom: 100px;
height: 130%;
}

.thanks-survey-card {
  height: 165%
}

.index-info {
border: None;
border-radius: 0px;
}

.info-text {
font-size: 24px;
}

.thanks-text {
  font-size: 30px;
}

.thank-you-title {
font-size: 40px;
}

hr:not([size]) {
height: 10px; 
color: #000000;
border-radius: 5px;
}

.about-header {
font-size: 40px;
margin: 25px;
}

.about-page-break {
margin: 15px;
}

.about-col {
margin-left: 25px;
margin-right: 25px;
margin-top: 15px;
}

.about-paragraphs {
font-size: 30px;
}

.survey-exit-button {
  background: #777777;
  border: None;
  font-size: 36px;
  margin-top: 25px;
}

.survey-back-button {
  background: #DD0000;
  border: None;
  font-size: 36px;
  margin-top: 25px;
}

.survey-back-button:hover {
  background: #770000;
}

.survey-next-button {
  background: #007700;
  border: None;
  font-size: 36px;
  margin-top: 25px;
}

.survey-next-button:hover {
  background: #004400;
}

.question-text {
  margin: 25px;
  font-size: 36px;
}

.question-subtext {
  font-size: 24px;
}

.color-grid-red {
  background: #FF0000;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-red {
  background: #DD0000;
  height: 175px;
  width: 175px;
  margin:25px;
}

.color-grid-orange {
  background: #FF8706;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-orange {
  background: #FF7006;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.color-grid-yellow {
  background: #FFFF00;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-yellow {
  background: #FFCC00;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.color-grid-green {
  background: #00FF00;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-green {
  background: #00DD00;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.color-grid-blue {
  background: #0000FF;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-blue {
  background: #0000DD;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.color-grid-indigo {
  background: #4b0082;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-indigo {
  background: #4B009E;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.color-grid-violet {
  background: #7F00FF;
  height: 175px;
  width: 175px;
  margin: 25px;
}

.different-color-grid-violet {
  background: #a400FF;
  height: 175px;
  width: 175px;
  margin: 25px;
}


.results-text {
  font-size: 36px;
  margin: 25px;
}

.results-yes-button {
  background: #007700;
  font-size: 36px;
  border: None;
  margin: 25px;
}

.results-yes-button:hover {
  background: #004400;
}

.results-no-button {
  background: #DD0000;
  font-size: 36px;
  border: None;
  margin: 25px;
}

.results-no-button:hover {
  background: #770000;
}

.results-graph-row {
  background: #666666;
}

.results-disclaimer {
  text-align: center;
}

.results-image {
  margin: 30px;
  text-align: center;
}