.nav-link {
  color: #EEEEEE;
}

.nav-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}

.logo {
  height: 38px;
  width: 100px;
}

.card-row-layout {
  --bs-gutter-x: 0;
}

#survey-text {
line-height: 1.8;
font-size: 40px;
margin-left: 20px;
margin-bottom: 50px;
}

.survey-card {
width: 75%;
}

.survey-button {
background: #AAAAAA;
border: None;
margin-left: 20px;
font-size: 40px;
padding: 20px;
}

.survey-button:hover {
  background: #555555;
}

.survey {
background: #777777;
color: #EEEEEE;
border-radius: 0px;
border: None;
padding-top: 100px;
padding-bottom: 100px;
height: 130%;
}

.thanks-survey-card {
  height: 165%
}

.index-info {
border: None;
border-radius: 0px;
}

.info-text {
font-size: 24px;
}

.thank-you-title {
font-size: 40px;
}

hr:not([size]) {
height: 10px; 
color: #000000;
border-radius: 5px;
}

.about-header {
font-size: 40px;
margin: 25px;
}

.about-page-break {
margin: 15px;
}

.about-col {
margin-left: 25px;
margin-right: 25px;
margin-top: 15px;
}

.about-paragraphs {
font-size: 30px;
}